@font-face {
	font-family: "PixelIcons";
	src: url("PixelIcons.eot?1ab8d8e2f2a2ba419c287e0fafab119d?#iefix") format("embedded-opentype"),
url("PixelIcons.woff2?1ab8d8e2f2a2ba419c287e0fafab119d") format("woff2"),
url("PixelIcons.woff?1ab8d8e2f2a2ba419c287e0fafab119d") format("woff"),
url("PixelIcons.ttf?1ab8d8e2f2a2ba419c287e0fafab119d") format("truetype"),
url("PixelIcons.svg?1ab8d8e2f2a2ba419c287e0fafab119d#PixelIcons") format("svg");
}

.pi {
	line-height: 1;
}

.pi:before {
	font-family: PixelIcons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.pi-silver-coin:before {
	content: "\f101";
}
.pi-refresh:before {
	content: "\f102";
}
.pi-pizza-slice:before {
	content: "\f103";
}
.pi-pipe-top:before {
	content: "\f104";
}
.pi-phone:before {
	content: "\f105";
}
.pi-internet-explorer:before {
	content: "\f106";
}
.pi-home:before {
	content: "\f107";
}
.pi-gold-coin:before {
	content: "\f108";
}
.pi-floppy-disk:before {
	content: "\f109";
}
.pi-eye:before {
	content: "\f10a";
}
.pi-dino:before {
	content: "\f10b";
}
.pi-diamond:before {
	content: "\f10c";
}
.pi-code:before {
	content: "\f10d";
}
.pi-circuit:before {
	content: "\f10e";
}
.pi-chevron-right:before {
	content: "\f10f";
}
.pi-chevron-left:before {
	content: "\f110";
}
.pi-chat:before {
	content: "\f111";
}
.pi-bronze-coin:before {
	content: "\f112";
}
