@font-face {
	font-family: "PixelIcons";
	src: url("PixelIcons.eot?4e992db1a25a22e2c72b23a6e9a5d02f?#iefix") format("embedded-opentype"),
url("PixelIcons.woff2?4e992db1a25a22e2c72b23a6e9a5d02f") format("woff2"),
url("PixelIcons.woff?4e992db1a25a22e2c72b23a6e9a5d02f") format("woff"),
url("PixelIcons.ttf?4e992db1a25a22e2c72b23a6e9a5d02f") format("truetype"),
url("PixelIcons.svg?4e992db1a25a22e2c72b23a6e9a5d02f#PixelIcons") format("svg");
}

.pi {
	line-height: 1;
}

.pi:before {
	font-family: PixelIcons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.pi-internet-explorer:before {
	content: "\f101";
}
.pi-home:before {
	content: "\f102";
}
.pi-eye:before {
	content: "\f103";
}
.pi-code:before {
	content: "\f104";
}
.pi-chevron-right:before {
	content: "\f105";
}
.pi-chevron-left:before {
	content: "\f106";
}
