@font-face {
	font-family: "PixelIcons";
	src: url("PixelIcons.eot?328d74ce7d2827fa3a84e13c206db3bf?#iefix") format("embedded-opentype"),
url("PixelIcons.woff2?328d74ce7d2827fa3a84e13c206db3bf") format("woff2"),
url("PixelIcons.woff?328d74ce7d2827fa3a84e13c206db3bf") format("woff"),
url("PixelIcons.ttf?328d74ce7d2827fa3a84e13c206db3bf") format("truetype"),
url("PixelIcons.svg?328d74ce7d2827fa3a84e13c206db3bf#PixelIcons") format("svg");
}

.pi {
	line-height: 1;
}

.pi:before {
	font-family: PixelIcons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.pi-refresh:before {
	content: "\f101";
}
.pi-pizza-slice:before {
	content: "\f102";
}
.pi-pipe-top:before {
	content: "\f103";
}
.pi-phone:before {
	content: "\f104";
}
.pi-internet-explorer:before {
	content: "\f105";
}
.pi-home:before {
	content: "\f106";
}
.pi-floppy-disk:before {
	content: "\f107";
}
.pi-eye:before {
	content: "\f108";
}
.pi-dino:before {
	content: "\f109";
}
.pi-code:before {
	content: "\f10a";
}
.pi-circuit:before {
	content: "\f10b";
}
.pi-chevron-right:before {
	content: "\f10c";
}
.pi-chevron-left:before {
	content: "\f10d";
}
.pi-chat:before {
	content: "\f10e";
}
